[submodule "third_party/car"]
	path = model/sources/car
	url = https://github.com/Get-Sybers/car.git
[submodule "model/sources/forensicartifacts"]
	path = model/sources/forensicartifacts
	url = https://github.com/ForensicArtifacts/artifacts.git
